@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {   
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.first-container{
    background-color: #1F2937;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarlogo{
    font-size: 24px;
    color: #f9faf8;
    padding: 10px;
}

.headerlinks {
   font-size: 18px;
   color: #e5e6eb;
   margin: 18px;
   padding: 10px;
}

ul{
    list-style-type: none;
    display: flex;
}



