@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {   
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.first-container{
    background-color: #1F2937;      
}

#navbarlogo{
    font-size: 24px;
    color: #f9faf8;
}

.headerlinks {
   font-size: 18px;
   color: #e5e7eb;
   margin: 18px;
}

.navbar{
    display: flex;
    flex-direction: row;
}

ul{
    display: flex;
    flex-direction: row;
}

.navbar-right, .navbar-left{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;

}

.content{
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-left{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width:50% ;
    margin-left: 200px;
}

.content-right{
    display: flex;
    flex-direction: column;
    width:50% ;
    justify-content: center;
    align-items: center;
   
}

img{
    margin: 50px;
}

.p-first {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 10px;
    
}

.sign-up-first-session{
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 40px;
    border:1px  #3882F6;
    border-radius: 10px;
    margin-top: 10px;

}

h2{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
}

.blue-box-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.blue-box{
    border: 3px solid #3882F6;
    width: 200px;
    height: 200px; 
    border-radius: 5px;
    
}

.second-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p-second{
    font-size: 18px;
    text-align: center;
    justify-content: center;
    margin: 5px;
}

.third-container{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
}

h3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: center;
}

.p-third{
    font-size: 22px;
    text-align: end;
    font-weight: bold;
    margin: 10px;
}

#p-third-div{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 200px;
}

.fourth-container{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container{
    width: 80%;
    height: 40%;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.fourth-left{
    width: 80%;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h4{
    font-size: 24px;
    color: white;
}

.p-fourth{
    color: white;
    font-size: 18px;
    margin-top: 5px;
}

.fourth-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.last-button{
    background-color: #3882F6;
    font-size: 18px;
    color: white;
    width: 100px;
    height: 40px;
    border:2px solid white;
    border-radius: 10px;
}
.footer{
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #1F2937;     
    height: 75px;

}